.card {
    margin-bottom: 25px;
}
.card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-body h4 a {
    color: #36362f;
    font-weight: bold;
    text-decoration: none;
}
.card-body h4 a:hover {
    color: #FF8400;
}

.card-body .btn-show {
    color: #fff;
    background-color: #FEBB1B;
    text-decoration: none;
    border: 1px solid #FEC33A;
    border-radius: 5px;
    transition: 0.2s linear;
}
.card-body .btn-show:hover {
    background: #FF8400;
}

.card-title {
    margin-bottom: 0.3rem;
}

.cat {
    display: inline-block;
    margin-bottom: 1rem;
}

.fa-users {
    margin-left: 1rem;
}

.card-footer {
    font-size: 0.8rem;
}
