/*
Main styles
 */

/*
Header styles
 */
.navbar {
    z-index: 2;
}
.search-form-block {
    max-height: 40px;
    padding: 0;
    background: #f4f5f8;
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 0;
}
.header-search-form {
    flex: 1 0 auto;
    margin-right: 40px;
    line-height: 30px;
    position: relative;
}
.header-search-form .search-form-block .start-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 12px;
}
.header-search-form .search-form-block .form-controls {
    position: absolute;
    top: 0;
    right: 0;
}
.header-search-form .search-form-block .form-controls .reset {
    vertical-align: top;
    background: none;
    border: 0;
    cursor: pointer;
    outline: 0;
    margin: 4px 8px 0 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3em;
}
.header-search-form .search-close {
    padding-top: 0.2rem;
    left: 8px;
    position: relative;
}
.header-search-form .search-form-block .search-form-input {
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.header-search-form .search-form-block .search-form-input input {
    width: calc(100% - 48px);
    padding: 0;
    border: none;
    line-height: 24px;
    height: 36px;
    background: none;
    font-size: 16px;
    color: #2c2d36;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header-search-form .search-form-block .search-form-input input:focus {
    outline: none !important;
}

.header-block-logo {
    width: 80px;
    margin-right: 31px;
}
.header-block .header-logo {
    display: block;
    margin: 8px 0 0;
}

.overlay {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: black;
    opacity: .7;
    z-index: 1;
}

.search-suggestions-block {
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    background: hsla(0,0%,100%,.95);
    border-radius: 0 0 6px 6px;
    overflow: auto;
    max-height: 550px;
    min-height: 200px;
    box-sizing: border-box;
    z-index: 45;
    background: #fff;
    box-shadow: none;
    border-top: 1px solid #f4f5f8;
    border-bottom: 2px solid #f4f5f8;
    padding-bottom: 20px;
}
.hide-block {
    display: none;
}
.search-suggestions-block .search-suggestions-container .suggest-search-result-empty {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #2c2d36;
}
.suggest-search-result-empty .suggest-list {
    line-height: 20px;
    margin: 4px 0 10px -8px;
    padding: 0;
    list-style: none;
}
.suggest-list .suggest-item {
    margin-left: 8px;
    margin-top: 8px;
    float: left;
}
.suggest-item a {
    display: inline-block;
    position: relative;
    font-weight: 400;
    background: #f4f5f8;
    color: #2c2d36;
    border-color: #f4f5f8;
    font-size: 16px;
    padding: 3px 16px;
    height: auto;
    line-height: 28px;
    border-radius: 6px;
}
.suggest-item a:hover {
    text-decoration: none;
    background: rgba(0,0,0,.06);
}
.search-suggestions-container .suggest-search-result {
    padding: 1em 0 3em 0;
}
.suggest-search-result .list-results {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-results .result-item:hover {
    background: #eaecf2;
}
.result-item .result-item-link {
    font-size: 1.1em;
    padding-left: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    line-height: 1.75em;
    height: 30px;
    color: #2c2d36;
}
.result-item-link .result-icon {
    margin-right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
}
.result-item-link .result-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #BB8866;
}

/*
Header styles END
 */

.cities-title h1 {
    font-weight: bold;
    font-size: 2.25rem;
    padding-left: 3px;
    padding-bottom: 6px;
    border-bottom: 3px solid #ececf6;
}

.cities-title p {
    margin-top: 6px;
    margin-bottom: 20px;
}

.breadcrumb {
    margin-bottom: 25px;
}
.breadcrumb-item a {
    color: #212529 !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #F65;
}

.block-info {
    margin-top: 10px;
    margin-bottom: 20px;
}

.block-title {
    border-bottom: 3px solid #ececf6;;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3;
    color: #6a6a5b;
    margin-bottom: 15px;
}

.block-title span {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: -3px;
    border-bottom: 3px solid #FF6655;
    font-weight: normal;
}

.block-content {
    padding: 14px 18px;
    background: #f7f7f7;
    border: 2px solid #ececf6;
    margin-bottom: 15px;
}

.block-content li {
    display: block;
    position: relative;
    margin: 0 0 20px -20px;
}

.block-content ul li a {
    display: block;
    color: #36362f;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

.block-content ul li a:hover {
    color: #FF8400;
}

.btn-add-taxi {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #F0CA05;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #F0CA05;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    height: 55px;
    transition: 0.2s linear;
    padding: 10px;
}
.btn-add-taxi:hover {
    text-decoration: none;
    color: #fff;
    background: #FF8400;
}

.stats-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #eee;
    height: 96px;
    align-items: center;
    font-size: 24px;
}
.stats-item b {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    color: #36362f;
    background: #eee;
    margin-right: 15px;
}

.cities-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15);
    box-shadow: 0 0 8px rgba(0,0,0,.15);
    border-radius: 5px;
    margin-bottom: 29px;
}

.cities-list li {
    -webkit-box-flex: 0;
    width: 25%;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    height: 98px;
}

.cities-list li:hover {
    background: #edecec;
}

.cities-list li a {
    display: block;
    padding: 25px 20px 25px 20px;
    text-decoration: none;
    height: 100%;
    color: #36362f;
    background: #f1f1f1;
}

.cities-list li a .city-title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #36362f;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.cities-list li a:hover {
    border: none;
    background: #FF6655;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.cities-list li a:hover .city-title {
    color: #fff;
}

.cities-list li  a .taxi-count {
    color: #777575;
    display: block;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
.cities-list li a:hover .taxi-count {
    color: #36362f;
}

.city-filter {
    margin-bottom: 20px;
    text-align: center;
}

.city-filter .city-input {
    font-size: 20px;
    width: 100%;
    border: 1px solid black;
    padding-left: 10px;
}

.top-menu-wrap, #menu {
    background: #F65;
}
.top-menu {
    padding: inherit;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-menu li {
    flex-grow: 1;
    text-align: center;
    position: relative;
}
.top-menu li a {
    padding: 15px 10px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    width: 100%;
    display: block;
    color: rgba(255,255,255,0.5);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.top-menu li:hover a{
    color: #fff;
}

/* CONTACTS PAGE */
.btn-send-contact {
    width: 50%;
    height: 60px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    background-color: #FF6655;
    border-color: #FF6655;
    color: #fff;
}
.btn-send-contact:hover {
    color: #fff;
}
.confid-politics {
    display: block;
    margin-top: 15px;
    color: #BB8866;
}
.confid-politics:hover {
    color: #212529;
}

/*
DETAIL CITY PAGE
 */
.company-list p {
    text-align: justify;
}
.item-company {
    border: 1px dotted #8c8a8a;
    padding: 13px 18px;
    margin-bottom: 12px;
    transition: all .4s;
}
.item-company .review {
    color: #1d2124;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #feecc2;
    border-radius: 4px;
    padding: 7px 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
}
.item-company .review:hover {
    color: #FF8400;
}
.item-company .order-taxi {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #BB8866;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #BB8866;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    height: 55px;
    transition: 0.2s linear;
    padding: 10px;
}
.item-company .order-taxi:hover {
    background: #FFF;
    color: #BB8866;
}
.item-company .title {
    font-size: 18px;
    color: #FF6655;
    display: block;
    text-transform: uppercase;
}
.item-company-right-col .info {
    margin-top: 20px;
}

/*
TAXI DETAIL PAGE
 */
.taxi-info {

}
.taxi-info .info-block {
    border-bottom: 2px solid #FEBB1B;
}
.taxi-info .info-block:nth-child(1), .taxi-info .info-block:nth-child(2) {
    margin-bottom: 15px;
}

#map {
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* PAGER */
.page-item.active .page-link {
    background-color: #FF6655;
    color: #fff;
    border-color: #dee2e6;
}
.page-link {
    color: #b7b7b7;
    transition: .5s;
}
.page-link:hover {
    background-color: #FF6655;
    color: #fff;
}

/*
FOOTER
 */

footer {
    background: #676565;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #f9b98e;
    text-decoration: none;
}

footer p {
    text-align: justify;
    font-size: 14px;
    color: #d4d4d4;
}

footer .footer-block-title {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 17px;
    border-bottom: 2px solid #b1b1b1;
    font-weight: 600;
}

footer .footer-menu {
    display: block;
    list-style: none;
    margin-bottom: 6px;
    padding: 0;
}
footer .footer-menu li {
    display: block;
    margin-bottom: 9px;
    position: relative;
}

footer .footer-cities {
    padding: 0;
}
footer .footer-cities li {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    margin-bottom: 9px;
    position: relative;
}


/*
Main Page
 */
.main-title p, li {
    font-size: 16px;
}
.main-title h1 {
    margin-bottom: 1em;
}

.btn-start-search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #FEBB1B;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #FEC33A;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    height: 55px;
    transition: 0.2s linear;
    padding: 10px;
}
.btn-start-search:hover {
    text-decoration: none;
    color: #fff;
    background: #FF8400;
}

.post-content img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.search_city {
    display: block;
    line-height: 60px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 100%;
    background: #FF6655;
    transition: all .5s;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search_city:hover {
    text-decoration: none;
    color: #fff;
    background: #B23A2D;
}


/*
RESPONSIVE
 */
@media only screen and (max-width: 960px) {
    .cities-list li {
        width: 33%;
    }
}
@media only screen and (max-width: 768px) {
    .cities-list > li {
        width: 25%;
    }
    .item-company-image-col img {
        max-height: fit-content !important;
    }

    .taxi-info .stats-item #map {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 15px;
    }
    .btn-send-contact {
        width: 100%;
    }
    .page-nav {
        flex-direction: column;
    }
    .page-nav a {
        width: 100% !important;
    }
    .header-search-form {
        margin: 0;
        display: flex;
        margin: 1em 0 1em 0;
    }
    .search-suggestions-block {
        height: 100vh;
        max-height: none;
        top: 80px;
    }
}
@media only screen and (max-width: 640px) {
    .cities-list > li {
        width: 33%;
    }
    .taxi-info .stats-item {
        flex-flow: column;
    }
    .taxi-info .stats-item b {
        display: none;
    }
    .taxi-info .stats-item #map {
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .cities-list > li {
        width: 50%;
    }
    .cities-list li a {
        padding: 25px 20px 25px 20px;
    }

    .item-company-right-col .title {
        text-align: center;
    }
}


/* COMPANY LIST -- START -- */
.item-company-image-col img {
    width: 100%;
    max-height: 140px;
}
/* COMPANY LIST -- END -- */

/* Company review rating stars */
.rating-area {
    overflow: hidden;
    margin: 0 auto;
    float: left;
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label {
    float: right;
    padding: 0;
    cursor: pointer;
    font-size: 36px;
    line-height: 50px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
    content: '';
}
.rating-area > input:checked ~ label {
    color: #FEBB1B;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: #FEBB1B;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: #FEBB1B;
}
.rate-area > label:active {
    position: relative;
}


/* CITY DETAIL PAGE -- START -- */
.h4-centered {
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
.categories {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );
    grid-gap: 15px;
    margin-top: 20px;
}
.categories-item_card_container {
    display: grid;
    grid-template-columns: 100px 1fr;
    width: 100%;
    height: 100px;
    color: inherit;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    color: #616161;
}

.categories-item_card_container:hover {
    text-decoration: none;
    color: #616161;
}

.categories-item_card {
}
.categories-icon {
    border-right: 1px solid #e0e0e0;
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    color: #f65;
}
.categories-item_name {
    font-size: 16px;
    line-height: 100px;
    padding-left: 16px;
}
.company-list {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.top-organizations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    margin-bottom: 1.5em;
    grid-gap: 5px;
}
.top-organizations > .organization-item {
    border: 1px dotted #8c8a8a;
    padding: 13px 18px;
}
.top-organizations > .organization-item > a {
    display: grid;
    grid-template-columns: 150px 1fr;
}
.top-organizations > .organization-item > a > img.lazyload {
    display: inline-block;
    width: 125px;
}
.top-organizations > .organization-item > a > span {
    font-size: 14px;
    color: #FF6655;
    display: block;
    text-transform: uppercase;
}
.top-organizations > .organization-item > a:hover {
    color: #FF6655;
}
/* CITY DETAIL PAGE -- END -- */

/* GEO POP-UP -- START -- */
#geoApproveModal {
    top: 15em;
}
#geoApproveModal .modal-header {
    border-bottom: none;
    padding: 0 1rem;
}
#geoApproveModal .modal-header > button > span {
    font-size: 40px;
}

#geoApproveModal .modal-body {
    text-align: center;
}
#geoApproveModal .modal-body > span {
    display: block;
    color: #616161;
}
#geoApproveModal .modal-body > .your_city-q {
    font-size: 1.7em;
}
#geoApproveModal .modal-body > .your_city-n {
    font-size: 1.9em;
}

#geoApproveModal .modal-footer {
    border-top: none;
}
#geoApproveModal .modal-footer > button {
    width: 100%;
    text-transform: uppercase;
    border-color: rgba(97, 97, 97, 0.2);
    border-radius: 0;
    font-size: 1.1em;
}
#geoApproveModal .modal-footer > button:hover {
    border-color: rgba(97, 97, 97, 0.5);
}
#geoApproveModal .modal-footer > .btn-approve_city {
    background: #F65;
    color: #fff;
}
#geoApproveModal .modal-footer > .btn-show_city_list {
    background: #fff;
    color: #616161;
}
#geoApproveModal .modal-footer > .btn-show_city_list:hover {
    color: #000000;
}
/* GEO POP-UP -- END -- */
